div{
    border: solid 1px #000;
    padding: 10px;
    margin: 10px;
    width: 250px;
}

.exercicio div:nth-of-type(1){
    background-color: lightblue;
}

.exercicio div:nth-of-type(2){
    background-color: lightgreen;
}


.exercicio div:nth-of-type(3){
    background-color: lightcoral;
}

.exercicio div:nth-of-type(4){
    background-color: lightgoldenrodyellow;
}